#!/bin/sh

eval $(keychain --clear --eval --agents gpg,ssh --quiet)

xset -b
setxkbmap -layout us,rs,rs -variant ,alternatequotes,latin -option grp:alt_shift_toggle,caps:swapescape
numlockx &

dunst &
udiskie &

#picom &
compton --backend glx -b &

feh --bg-fill ~/stuff/pictures/nantes.jpg

mpd &
